/* Css Reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/* **************** */

/****** General Styles ******/
.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* Background Color #f1faee  */
/* Primary -#1d3557  */
body {
  background: #f1faee;
}

/****** Typography Import ******/

@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Roboto:wght@400;700&display=swap");

/****** Typography Styles ******/
h1 {
  color: #457b9d;
  font-family: "Dongle", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

h2 {
  color: #4c6a73;
  font-family: "Roboto", "sans-serif";
  font-size: 32px;
  font-weight: 700;
}

p {
  color: #3f4a3c;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400px;
}

/******* Buttons *******/

.player-selection__btn {
  font-size: 104px;
  padding: 8px 32px;
  border: none;
  border-radius: 5px;
  background: #a8dadc;
  cursor: pointer;
  transition: transform 250ms, opacity 250ms;
}

.player-selection__btn:hover {
  opacity: 0.8;
  transform: translateY(-10px);
}

/****** wrapper ******/
.wrapper {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/****** Header ******/
#header {
  margin: 16px 0px;
  padding: 8px;
  display: flex;
  justify-content: center;
}

/****** Score Section ******/
.score {
  display: flex;
  justify-content: space-around;
  padding: 16px;
}

.score__text {
  color: #484738;
}

/***** Round Winner Message Section *****/

#round-winner {
  text-align: center;
}
.round-winner__message {
  color: #4c6a73;
  font-weight: bold;
  text-transform: capitalize;
  padding: 8px;
}
.round-winner__instructions {
  font-size: 24px;
  text-transform: capitalize;
}

/****** Round Number Section *******/
#round-number {
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  padding: 16px;
}

/******* Player Choice Section *******/
#player-selection {
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid red;
}

/******* Players Picks Section *******/
#picks {
  border: 2px solid red;
  display: flex;
  justify-content: space-around;
  padding: 16px;
}
.picks__message {
  font-size: 24px;
}

.picks__emoji {
  font-size: 100px;
}

.picks__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

/******** Game Winner Message Section *******/
#game-winner {
  text-align: center;
}
.game-winner__message {
  font-size: 40px;
}
.game-winner__decleration {
  font-size: 32px;
}

.play-again-btn {
  background: #a8dadc;
  padding: 16px 48px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #1d3557;
  font-size: 24px;
  font-family: "Dongle", sans-serif;
  opacity: 0.6;
  /* transition: opacity 2s; */
}

.play-again-btn:hover {
  opacity: 1;
}

/******* Modal  ********/
.modal {
  background: #3f4a3c;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  gap: 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  width: 300px;
}

.winner-display {
  display: flex;
  justify-content: space-between;
}
.winner-display__message,
.cancel-icon {
  color: white;
  font-size: 24px;
}

.cancel-icon {
  text-align: center;
}

.play-again-button {
  background: #f1faee;
  border-radius: 8px;
  border: none;
  padding: 8px 40px;
  cursor: pointer;
}
.play-again-button:hover {
  background: #a8dadc;
}

.modal-active {
  opacity: 0.2;
}

.hidden {
  display: none;
}
